<!DOCTYPE html>
<html>
  <head>
    <title>TumblyPstr</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'application','normalize', 'skeleton', 'overall_style', 'poster', 'slideshow', media: 'all', 'data-turbolinks-track': 'reload' -%>
    <%= javascript_include_tag 'application', 'text_animation.js', 'data-turbolinks-track': 'reload' %>
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200|Pacifico|Raleway:200,100,400"' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- Primary Page Layout
    –––––––––––––––––––––––––––––––––––––––––––––––––– -->
    <ul class="cb-slideshow">
        <li><span>Image 01</span></li>
        <li><span>Image 02</span></li>
        <li><span>Image 03</span></li>
        <li><span>Image 04</span></li>
        <li><span>Image 05</span></li>
        <li><span>Image 06</span></li>
    </ul>
  <div class="topnav">
    <div class="container">
      <div class="row">
        <div class="twelve columns">
          <%= link_to image_tag("tumbly_logo.png", :class => 'three columns'), "/" %>
          <h5 id="subtitle" class="eight columns">Live your fandom</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="container" id="search_box">
    <br/><br/>
    <div class="row">
      <div class="twelve columns">
        <div class="ten columns offset-by-one columns">
          <center>
          <h1>Create a poster about
            <span
            class="txt-rotate"
            data-period="2000"
            data-rotate='[ "#harrypotter.", "#danandphil.", "#memes.", "#disney.", "#starwars" ]'></span>
          </h1>
          <br/>
          <h3>What's your&nbsp;&nbsp;
            <form action="/pages/poster" style="margin: 0; padding: 0; width: 400px; height: 70px; display: inline;">
              <input style="display: inline; width: 200px; height: 70px;" placeholder=" #Fandom" type="text" name="tumblrSearch">&nbsp;&nbsp;?</h3>
              <br>
              <button style="display: inline; width: auto; height: 60px;" type="submit">1. get your images</button>
              <% if @search_tag != nil %>
              <button style="display: inline; width: auto; height: 60px;" type="submit">
              <%= link_to "2. grab your poster", format: :pdf, :tumblrSearch => @search_tag, :style =>'text-decoration: none;' %>
              </button>
              <% else %>
              <div class="no_pdf">2. grab your poster</div>
            </div>
              <% end %>
            </form>
            <br/>
          </center>
        </div>
      </div>
    </div>
  </div>
    <%= yield %>
</body>
</html>
